#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# This version is for packages that are architecure independant.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

package		:= docbook-dsssl

# directory abstraction
prefix		:= debian/tmp
bindir		:= $(prefix)/usr/bin
docdir		:= $(prefix)/usr/share/doc/$(package)
sgmldir		:= $(prefix)/usr/share/sgml/docbook
mandir		:= $(prefix)/usr/share/man
wwwdir		:= $(prefix)/var/www
dsssldir	:= $(sgmldir)/stylesheet/dsssl/modular
dssslcompatlnk	:= $(prefix)/usr/lib/sgml/stylesheet/dsssl/docbook/nwalsh
dssslcompatlnkto:= ../../../../../share/sgml/docbook/stylesheet/dsssl/modular
confdir		:= $(prefix)/etc/sgml/$(package)
conftemplatedir	:= $(prefix)/usr/share/$(package)/conf-templates

# build abstraction
install_file	:= install -o root -g root -m 644 -p
install_script	:= install -o root -g root -m 755 -p
install_program	:= install -o root -g root -m 755 -p --strip
make_directory	:= install -d -o root -g root -m 755

bin/collateindex.pl.1: bin/collateindex.pl
	pod2man --section=1 --center="DocBook DSSSL" \
		--release="docbook-dsssl v$(cat VERSION)" $< > $@

common/catalog:
	$(MAKE) -C common

%/ChangeLog:
	(cd $* && cvs2cl)

debian/po/templates.pot: debian/templates
	debconf-updatepo

build:	bin/collateindex.pl.1 common/catalog \
	common/ChangeLog lib/ChangeLog olink/ChangeLog html/ChangeLog print/ChangeLog \
	debian/po/templates.pot

clean:
	dh_testdir
#	 created in build target
	rm -f bin/collateindex.pl.1
#	 created in binary-indep target
	rm -f debian/postinst
	dh_clean

debian/postinst: debian/postinst.m4 debian/rules
	perl -p -e "s/M4package$$/$(package)/g; s|M4DTDDIR|$(subst $(prefix),,$(dsssldir))|g; s|M4CONFDIR|$(subst $(prefix),,$(confdir))|g; s|M4CONFTEMPLATEDIR|$(subst $(prefix),,$(conftemplatedir))|g; s|M4ORDCATS|catalog common/catalog|g; s|M4IMAGEDIR|$(subst $(prefix),,$(dsssldir))/images|g;" $< > $@
	chmod 0555 $@

# Build architecture-independent files here.
binary-indep: build debian/postinst
	dh_testdir
	dh_testroot
	dh_clean -k

#	 install things that go under dsssldir
	set -e; \
	for file in VERSION catalog \
		    `find images -name \*.\*` \
		    `find dtds -name \*.dtd -o -name dbhtml.dcl` \
		    `find common lib html print olink -name \*.dsl -o -name \*.ent -o -name catalog`; \
	do \
		$(make_directory) $(dsssldir)/`dirname $$file`; \
		$(install_file) $$file $(dsssldir)/$$file; \
	done

##
##	 site configuration
##
	$(make_directory) $(confdir)/html $(confdir)/print
	$(make_directory) $(conftemplatedir)
	$(install_file) debian/html-siteconfig.dsl debian/print-siteconfig.dsl $(conftemplatedir)/
#	 hacking on docbook.dsl to include appropriate siteconfig.dsl
	sed -f debian/print-docbook-hacker.sed $(dsssldir)/print/docbook.dsl > $(dsssldir)/print/docbook.dsl.new
	cat $(dsssldir)/print/docbook.dsl.new > $(dsssldir)/print/docbook.dsl
	rm -f $(dsssldir)/print/docbook.dsl.new
	sed -f debian/html-docbook-hacker.sed $(dsssldir)/html/docbook.dsl > $(dsssldir)/html/docbook.dsl.new
	cat $(dsssldir)/html/docbook.dsl.new > $(dsssldir)/html/docbook.dsl
	rm -f $(dsssldir)/html/docbook.dsl.new

#        /var/www symlink to html image location
	$(make_directory) $(wwwdir)
	ln -s $(subst $(prefix),,$(dsssldir))/images $(wwwdir)/$(package)

#	 compatability symlink for older versions
	$(make_directory) `dirname $(dssslcompatlnk)`
	ln -sf $(dssslcompatlnkto) $(dssslcompatlnk)

#	 create all the extended links as specified in the Debian SGML Guidelines
	/usr/share/sgml-data/sgml-catalog-check.pl -l -v 0 -d $(prefix)/usr/share/sgml $(dsssldir)/catalog
	/usr/share/sgml-data/sgml-catalog-check.pl -l -v 0 -e -d $(prefix)/usr/share/sgml $(dsssldir)/common/catalog

	dh_installdocs -p$(package) BUGS README TODO $(wildcard WhatsNew)
#	 dsssl source refers to ../README
	ln -s ../../../../../doc/$(package)/README $(dsssldir)/README

	$(make_directory) \
		$(docdir)/common $(docdir)/lib				\
		$(docdir)/olink	$(docdir)/html $(docdir)/print		\
		$(docdir)/frames $(docdir)/examples

	$(install_file) common/ChangeLog $(docdir)/common/
	$(install_file) lib/ChangeLog $(docdir)/lib/
	$(install_file) olink/ChangeLog $(docdir)/olink/
	$(install_file) html/ChangeLog $(docdir)/html/
	$(install_file) print/ChangeLog $(docdir)/print/

	dh_installchangelogs -p$(package) ChangeLog
	dh_installdebconf -p$(package)

#	 experimental frame support
	$(install_file) `find frames -maxdepth 1 -type f` $(docdir)/frames/

#	 example DSSSL file
	$(install_file) debian/*.dsl $(docdir)/examples

#	 collateindex file
	$(make_directory) $(bindir)
	$(install_script) bin/collateindex.pl $(bindir)/
# 	 dh_installman thinks .pl is the section, silly DWIM
	$(make_directory) $(mandir)/man1
	$(install_file) bin/collateindex.pl.1 $(mandir)/man1

	dh_compress -i

#	 check that maintainer scripts are good
	sh -n debian/postinst
	sh -n debian/prerm
	sh -n debian/postrm

	dh_installdeb -i
#	 perl depends policy
	dh_perl
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build
# We have nothing to do by default.

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary

.DELETE_ON_ERROR:

#Local variables:
#mode: makefile
#End:
